nav{
  font-size:28px;
}

a:link{
  color:aqua;
  background-color:gray;
}

a:visited{
  color:aquamarine;
  background-color:#4d4d4d;
}

div{
  background-color:#D9E6FF;
  margin:30px;
  padding:25px;
  border-radius:30px;
  text-align:center;
  border-style:double;
  border-width:20px;
  border-color:black;
}

a:hover{
  color:lime;
  background-color:#4d4d4d;
  font-size:36px;
}

body{
  color:blue;
}

body{
  background-color:#47B2B8;
}

body{
  font-size:28px;
}

img{
  width:600px;
}

img{
  height:400px
}

#magicbody{
  font-size:39px
}
