nav{
  font-size:28px;
}

a:link{
  color:aqua;
  background-color:gray;
}

a:visited{

}

div{
  background-color:Crimson;
  margin:30px
  padding:25px;
  border-radius:30px;
  text-align:center;
}

a:hover{
  color:lime;
  background-color:gray;
}

img{
  width:400px;
}

body{
  color:blue;
}

body{
  background-color:black;
}

body{
  font-size:28px;
}

img{
  height:200px
}
